<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>华为商城</title>
	<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/index.css">
	<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/header_bottom.css">
	<hdjs/>
	<script type="text/javascript" src="__CONTROLLER_VIEW__/js/jquery172.js"></script>
	<script type="text/javascript" src='__CONTROLLER_VIEW__/js/index.js'></script>
</head>
<body>

<!-- 头部区块 -->
<include file='__CONTROLLER_VIEW__/block/header_index.html' />
<!-- 头部区块结束 -->


<!-- 轮播图区块 -->
<div class="lunbo_out">
	<div class="lunbo">
	<!-- 菜单区块 -->
		<div class="menu">
			<ul>
			<list from='$category' name='$c'>
				<li>
					<div class="m_li">
					<!-- 一级栏目 -->
						<h3>{$c.cat_name}</h3>
					<!-- 一级栏目结束 -->
					<if value="{$c._data}" >
						<list from='{$c._data}' name='$cd'>
						<!-- 二级栏目 -->
							<a href="{|U:'lists',array('cid'=>$cd['cid'])}" target="_blank">{$cd.cat_name}</a>
						<!-- 二级栏目结束 -->
							<if value='{$cd._data}' >
								<!-- 隐藏三级菜单 -->
								<div class="hd">
								<list from='{$c._data}' name='$cd_cd' >
									<a href="{|U:'lists',array('cid'=>$cd_cd['cid'])}" target="_blank">{$cd_cd.cat_name}</a>
								</list>
									<dl>
										<dt>推荐商品</dt>
									<list from='{$cd._data}' name='$c_d'>
										<dd><a href="{|U:'lists',array('cid'=>$cd_cd['cid'])}" target="_blank">{$c_d.cat_name}</a></dd>
		    						</list>
									</dl>
								</div>
								<!-- 隐藏三级菜单结束 -->
							</if>
						</list>
					</if>	
					</div>
				</li>
			</list>
			</ul>
		</div>
	<!-- 菜单区块结束 -->
	<!-- 轮播图 -->
		<div class="lb_box">
			<a href="" style="display:block"><img src="__CONTROLLER_VIEW__/images/public/1.jpg" alt=""></a>
			<a href=""><img src="__CONTROLLER_VIEW__/images/public/2.jpg" alt=""></a>
			<a href=""><img src="__CONTROLLER_VIEW__/images/public/3.jpg" alt=""></a>
			<a href=""><img src="__CONTROLLER_VIEW__/images/public/4.jpg" alt=""></a>
			<a href=""><img src="__CONTROLLER_VIEW__/images/public/5.jpg" alt=""></a>
			<ol>
				<li class="cur"></li><li></li><li></li><li></li><li></li>
			</ol>
		</div>
	<!-- 轮播图结束 -->
	</div>
</div>
<!-- 轮播图区块结束 -->

<!-- 商品大区块 -->
	<!-- 一楼手机热卖区块 -->
<div class="first">
	<!-- 左 -->
	<div class="first_l">
		<ul>
			<li style="background:#FFFCE7">
				<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				<div class="li_div div_border">
					<div class="li_img">
						<a href="{|U:'detail',array('goods_id'=>1)}" target="_blank"><img src="__CONTROLLER_VIEW__/images/index/hot_1.png" alt="" width="156px" height="252px"></a>
					</div>
					<div class="p_name">华为 P7</div>
					<div class="p_des">
						<span style='color:#777777'>纤薄机身，玻璃背纹</span>
					</div>
					<div class="p_price">
						<em>¥</em><span>2588</span>
						<a href="{|U:'detail',array('goods_id'=>1)}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<li style="background:#FFFCE7">
				<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				<div class="li_div div_border">
					<div class="li_img">
						<a href="{|U:'detail',array('goods_id'=>9)}" target="_blank"><img src="__CONTROLLER_VIEW__/images/index/hot_2.png" alt=""></a>
					</div>
					<div class="p_name">荣耀3C畅玩版</div>
					<div class="p_des">
						<span style='color:#777777'>四核5寸屏 送父母好选择</span>
						<span style='color:#E01D20'>实用配件套装，比单买更优惠</span>
					</div>
					<div class="p_price">
						<em>¥</em><span>699</span>
						<a href="{|U:'detail',array('goods_id'=>9)}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<li style="background:#FFFCE7">
				<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				<div class="li_div div_border">
					<div class="li_img">
						<a href="{|U:'detail',array('goods_id'=>3)}" target="_blank"><img src="__CONTROLLER_VIEW__/images/index/hot_3.png" alt=""></a>
					</div>
					<div class="p_name">荣耀6</div>
					<div class="p_des">
						<span style='color:#777777'>全球首款八核4G Cat6手机</span>
						<span style='color:#E01D20'>限量赠送豪华配件套装</span>
					</div>
					<div class="p_price">
						<em>¥</em><span>2039</span>
						<a href="{|U:'detail',array('goods_id'=>3)}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<li style="border-left:none;background:#FFFCE7">
				<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				<div class="li_div div_border">
					<div class="li_img">
						<a href="{|U:'detail',array('goods_id'=>8)}" target="_blank"><img src="__CONTROLLER_VIEW__/images/index/hot_4.png" alt=""></a>
					</div>
					<div class="p_name">华为秘盒</div>
					<div class="p_des">
						<span style='color:#777777'>互联网迄今真正发烧的盒子</span>
						<span style='color:#E01D20'>11月12日～11月30日 限时特价388</span>
					</div>
					<div class="p_price">
						<em>¥</em><span>488</span>
						<a href="{|U:'detail',array('goods_id'=>8)}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- 右 -->
	<div class="first_r">
		<div class="r_div">
			<ul>
				<li>
					<a href="{|U:'detail',array('goods_id'=>36)}" target="_blank">
						<img src="__CONTROLLER_VIEW__/images/index/r1.jpg" alt="">
					</a>
				</li>
				<li>
					<a href="{|U:'detail',array('goods_id'=>11)}" target="_blank">
						<img src="__CONTROLLER_VIEW__/images/index/f1.jpg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	<!-- 一楼手机热卖区块结束 -->

<div class="floor1">
	<a href="{|U:'detail',array('goods_id'=>27)}" target="_blank">
		<img src="__CONTROLLER_VIEW__/images/index/floor1.jpg" alt=""></a>
</div>

	<!-- 二楼精选手机区块 -->
<div class="second">
	<div class="s_title">
		<h2><a href="">手机</a></h2>
	</div>
	<div class="phone">
		<ul>
		<category pid='1' row='7' >
			<if value="!{$k}" >
			<li class="li1">
				<div class="li1_dv div_border">
					<div class="p_li1">
						<a href="{$url}"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="p_name"><a href="{$url}"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?></a> </div>
					<div class="p_des">
						<span style='color:#777777'><?php echo $title[1];?></span>
						<span style='color:#E01D20'></span>
					</div>
					<div class="p_price">
						<em>¥</em><span>{$field.goods_price}</span>
						<a href="{$url}" class="buy">立即抢购</a>
					</div>
				</div>
			</li>
			<else>
			<li class="li2" style="border-left: 1px solid #DFDFDF;">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				
				<div class="li2_dv div_border" 
				<if value="{$k}==1" > style="background:#E2F9FB"</if>
				<if value="{$k}==2" > style="background:#FFECEF"</if>
				>
					<div class="li2_img">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="li2_name">
						<a href="{$url}" target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?>
						<span><?php echo $title[1];?></span></a>
					</div>
					<div class="li2_price">
						<em>¥</em><span>{$field.goods_price}</span>
					</div>
				</div>
			</li>
			</if>
	</category>

		</ul>
	</div>
</div>
	<!-- 二楼精选手机区块结束 -->

	<!-- 三楼平板电脑区 -->
<div class="third">
	<div class="s_title">
		<h2><a href="">平板电脑</a></h2>
	</div>
	<div class="phone">
		<ul>
		<category pid='2' row='3' >
			<if value="!{$k}" >
			<li class="li1"  style="border-right: 1px solid #DFDFDF;">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li1_dv div_border">
					<div class="p_li1">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="p_name"><a href="{$url}"  target="_blank">荣耀平板</a> </div>
					<div class="p_des">
						<span style='color:#777777'><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?></span>
						<span style='color:#E01D20'><?php echo $title[1];?></span>
					</div>
					<div class="p_price">
						<em>¥</em><span>{$field.goods_price}</span>
						<a href="{$url}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<else>
			<li class="li2">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li2_dv div_border" 
				<if value="{$k}==1" > style="background:#FCEFFF"</if>
				<if value="{$k}==2" > style="background:#FFFCE7"</if>
				>
					<div class="li2_img">
						<a href="{$url}"  target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="li2_name">
						<a href="{$url}"  target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?><span><?php echo $title[1];?></span></a>
					</div>
					<div class="li2_price">
						<em>¥</em><span>{$field.goods_price}</span>
					</div>
				</div>
			</li>
			</if>
		</category>

		</ul>
	</div>
</div>
	<!-- 三楼平板电脑区结束 -->

	<!-- 四楼宽带网络 -->
<div class="four">
	<div class="s_title">
		<h2><a href="">宽带网络</a></h2>
	</div>
	<div class="phone">
		<ul>
		<category pid='3' row='7' >
			<if value="!{$k}" >
			<li class="li1">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>


				<div class="li1_dv div_border" style="background:#FFECEF;">
					<div class="p_li1">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="p_name"><a href="{$url}" target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?></a> </div>
					<div class="p_des">
						<span style='color:#777777'><?php echo $title[1];?></span>
						<!-- <span style='color:#E01D20'>11月14日10:08准点开售</span> -->
					</div>
					<div class="p_price">
						<em>¥</em><span>{$field.goods_price}</span>
						<a href="{$url}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<else>
			<li class="li2" style="border-left:1px solid #DFDFDF;">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li2_dv div_border"
				<if value="{$k}==1" > style="background:#F6F6F6"</if>
				<if value="{$k}==2" > style="background:#E2F9FB"</if>
				>
					<div class="li2_img">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="li2_name">
						<a href="{$url}" target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?><span><?php echo $title[1];?></span></a>
					</div>
					<div class="li2_price">
						<em>¥</em><span>{$field.goods_price}</span>
					</div>
				</div>
			</li>
			</if>
		</category>
		</ul>
	</div>
</div>
	<!-- 四楼宽带网络结束 -->
	
	<!-- 五楼必备配件 -->
<div class="five">
	<div class="s_title">
		<h2><a href="">必备配件</a></h2>
	</div>
	<div class="phone">
		<ul>
		<category pid='6' row='7' >
			<if value="!{$k}" >
			<li class="li1">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li1_dv div_border">
					<div class="p_li1">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="p_name"><a href="{$url}" target="_blank">华为降噪耳机 </a> </div>
					<div class="p_des">
						<span style='color:#777777'><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?></span>
						<span style='color:#E01D20'><?php echo $title[1];?></span>
					</div>
					<div class="p_price">
						<em>¥</em><span>{$field.goods_price}</span>
						<a href="{$url}" class="buy" target="_blank">立即抢购</a>
					</div>
				</div>
			</li>
			<else>
			<li class="li2" style="border-left: 1px solid #DFDFDF;">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li2_dv div_border" 
				<if value="{$k}==1" > style="background:#E2F9FB"</if>
				<if value="{$k}==2" > style="background:#FFECEF"</if>
				>
					<div class="li2_img">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="li2_name">
						<a href="{$url}" target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?><span><?php echo $title[1];?></span></a>
					</div>
					<div class="li2_price">
						<em>¥</em><span>{$field.goods_price}</span>
					</div>
				</div>
			</li>
			</if>
		</category>

		<category pid='4' row='4' >
			<li class="li2">
				<if value="{$field.is_new}">
					<i><img src="__CONTROLLER_VIEW__/images/is_new.png" alt=""></i>
				</if>
				<if value="{$field.is_best}">
					<i><img src="__CONTROLLER_VIEW__/images/is_best.png" alt=""></i>
				</if>
				<if value="{$field.is_hot}">
					<i><img src="__CONTROLLER_VIEW__/images/is_hot.png" alt=""></i>
				</if>

				<div class="li2_dv div_border">
					<div class="li2_img">
						<a href="{$url}" target="_blank"><img src="__ROOT__/{$field.goods_img}" alt=""></a>
					</div>
					<div class="li2_name">
						<a href="{$url}" target="_blank"><?php $title=explode('_',$field['goods_index_title']);echo $title[0]; ?><span><?php echo $title[1];?></span></a>
					</div>
					<div class="li2_price">
						<em>¥</em><span>{$field.goods_price}</span>
					</div>
				</div>
			</li>
		</category>
		</ul>
	</div>
</div>

<!-- 商品大区块结束 -->


<!-- 底部区块 -->
<include file='__CONTROLLER_VIEW__/block/bottom.html' />
<!-- 底部区块结束 -->



</body>
</html>