<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/zhuce.css">
	<hdjs/>
	<script type="text/javascript" src='__CONTROLLER_VIEW__/js/validate.js'></script>
</head>
<body>
<!-- 头部区块 -->
<div class="top">
	<img src="__CONTROLLER_VIEW__/images/login/logo2.png" alt=""><span>|</span><span>&nbsp;华为商城</span>
</div>
<!-- 头部区块结束 -->	 
<div class="main">
	<h2>注册华为帐号</h2>
<form  method="post">
	<table width="100%">
		<tr>
			<th>账号: </th>
			<td>
				<input type="text" placeholder="5~50 个字符" name="username" onblur="validate(this,5,50)">
				<span style='padding:0 5px;font-size:14px;' class='ps'></span>
			</td>
		</tr>
		<tr>
			<th>密码: </th>
			<td>
				<input type="password" placeholder="6-32个字符" name="password" onblur="validate(this,6,32)">
				<span style='padding:0 5px;font-size:14px;' class='ps'></span>
			</td>
		</tr>
		<tr>
			<th>确认密码: </th>
			<td>
				<input type="password" placeholder="请重复输入您的密码" name="psw">
				<span style='padding:0 5px;font-size:14px;' class='ps'></span>
			</td>
		</tr>
		<tr>
			<th>验证码: </th>
			<td>
				<input type="text" class="yzm" placeholder="不区分大小写" name="code">
				<img src="{|U:'code'}" onclick="this.src='{|U:'code'}&'+Math.random()">
				<span style='padding:0 5px;font-size:14px;' class='ps'></span>
			</td>
		</tr>
	</table>
	<input type="submit" class="zhuce" value="立即注册">
</form>
	<div class="img"></div>
	<div class="login">
		已有华为账号<a href="{|U:'Index/login'}">登录</a>
	</div>

</div>
</body>
</html>