<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员中心</title>
	<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/member.css">
	<link rel="stylesheet" href="__CONTROLLER_VIEW__/css/header_bottom.css">
	<hdjs/>
	<script type="text/javascript" src='__CONTROLLER_VIEW__/js/index.js'></script>
</head>
<body>
<!-- 头部区块 -->
<include file='__CONTROLLER_VIEW__/block/header.html'/>
<!-- 头部区块结束 -->

<!-- 路径 -->
<div class="position">
	<i>你现在的位置 :</i> <a href="__ROOT__">首页</a><span> > </span>个人中心
</div>
<!-- 路径 -->
<!-- 中间大区 -->
<div class="main_out">
	<!-- 左边列表区块 -->
	<include file='__CONTROLLER_VIEW__/block/left.html'/>
	<!-- 左边列表区块结束 -->
<if value="!{$data}" >
	<!-- 右边区块 -->

	<!-- 个人信息 -->
	<div class="yuyue">
		<div class="title"><h3>收货信息</h3></div>
		<table width="100%">
			<thead style="background:#D6D6D6;">
				<tr>
					<th style="color:#111;font-weight:700;text-align:left;font-size:14px">
					&nbsp;&nbsp;个人资料
					<a href="javascript:;" style='float:right;margin-right:30px;color:#0077D2' onclick="editMsg()">编辑</a></th>
				</tr>
			</thead>
		</table>
		<div class="order">
			<div class="o_detail">
				<table width="100%" class="show_tb">
					<input type="hidden" name='uid' value="{$_SESSION['uid']}">
					<tr style="line-height:55px">
						<td style="text-align:right;width:350px;">用户名：</td>
						<td><input type="text" value="{$user.username}" style="height:25px;" disabled="" name="username" onblur="testUname(this)">&nbsp;&nbsp;<span style='color:#C5282A'></span></td>
					</tr>
					<tr style="line-height:35px">
						<td style="text-align:right">密码：</td>
						<td><input type="password" value="{$user.password}" disabled="" style="height:25px;" name="password"></td>
					</tr>
				</table>
				<input type="button" value="提交" style="float:right;margin-right:25px;cursor:pointer;width:60px;height:28px;background:#CA3939;color:#fff;font-weight:700;display:none" name="button" onclick="saveMsg()">
			</div>
		</div>

	</div>
	<!-- 会员信息 -->


</div>
<!-- 中间大区结束 -->


<!-- 底部区块 -->
<include file='__CONTROLLER_VIEW__/block/bottom.html' />
<!-- 底部区块结束 -->
</body>
</html>